---
import Layout from '~/layouts/PageLayout.astro';
import PhotographyList from '~/components/photography/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { getStaticPathsPhotographyList } from '~/utils/photography';

export const prerender = true;

export async function getStaticPaths({ paginate }) {  
  return await getStaticPathsPhotographyList({ paginate });
}

interface Page {
  currentPage: number;
  data: any;
  url: {
    current: string;
    next: string;
    prev: string;
  };
}
const { page }: { page: Page } = Astro.props;
const currentPage = page.currentPage ?? 1;
const metadata = {
  title: `摄影展示${currentPage > 1 ? ` - 第${currentPage}页` : ''}`,
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="一些日常的照片记录。">摄影展示</Headline>
    <PhotographyList photographys={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
