---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import ThemeSwitcher from '~/components/common/ThemeSwitcher.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import SearchIcon from './SearchIcon.astro';

import { getHomePermalink } from '~/utils/permalinks';
import { trimSlash } from '~/utils/permalinks';

interface BaseLink {
  href?: string;
  ariaLabel?: string;
  icon?: string;
  target?: string;
}

interface MenuSection extends BaseLink {
  title: string; // 父级标题
  links?: Array<MenuItem>;
}

interface MenuItem extends BaseLink {
  subtitle: string; // 子级标题
}
export interface Props {
  id?: string;
  links?: Array<MenuSection>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
}

const { id = 'header', links = [], isSticky = false, isDark = false, isFullWidth = false } = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 ease-in-out before-scroll'
  ]}
  {...id ? { id } : {}}
>
  <div
    class:list={[
      'relative text-default py-3 px-3 md:px-6 mx-auto w-full grid grid-cols-2 md:grid-cols-6',
      {
        'max-w-7xl': !isFullWidth
      }
    ]}
  >
    <a class="flex items-center col-span-1" href={getHomePermalink()}>
      <Logo />
    </a>
    <nav
      class="col-span-4 items-center justify-center w-full md:w-auto hidden md:flex text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:mx-5"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium"
      >
        {
          links.map(({ title, href, links, target }) => (
            <li class={links?.length ? 'dropdown' : ''}>
              {links?.length ? (
                <>
                  <button class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
                    <a href={href} target={target ? target : '_self'}>
                      {title}
                    </a>{' '}
                    <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
                  </button>
                  <ul class="dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl">
                    {links.map(({ subtitle, href, target }) => (
                      <li>
                        <a
                          class:list={[
                            'first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap',
                            { 'aw-link-active': href === currentPath }
                          ]}
                          href={href}
                          target={target ? target : '_self'}
                        >
                          {subtitle}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={[
                    'hover:text-link dark:hover:text-white px-4 py-3 flex items-centers',
                    { 'aw-link-active': href === currentPath }
                  ]}
                  href={href}
                  target={target ? target : '_self'}
                >
                  {title}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="flex items-center col-span-1 justify-end">
      <SearchIcon />
      <ThemeSwitcher />
      <ToggleMenu class="md:hidden" />
    </div>
  </div>
</header>
