---
import Headline from '~/components/blog/Headline.astro';
import { getPermalink } from '~/utils/permalinks';
interface Props {
  title: string;
  tagList: Array<string>;
  pathPrefix: string;
}

const { title, tagList, pathPrefix } = Astro.props;
---

<section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
  <Headline>{title}~{tagList.length}</Headline>
  <div class="flex flex-wrap gap-4 min-h-[200px]">
    {
      tagList.map((tag) => (
        <a
          class="h-min bg-slate-200 dark:bg-slate-700 px-4 py-2 rounded shadow-sm hover:bg-slate-300 dark:hover:bg-slate-600 text-black/80 dark:text-white/80 transition-colors duration-200 ease-in-out"
          href={getPermalink(`${pathPrefix}/${tag}`)}
        >
          {tag}
        </a>
      ))
    }
  </div>
</section>
