---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import SocialShare from '~/components/common/SocialShare.astro';

import { getFormattedDate } from '~/utils/utils';

import type { Photography } from '~/types';

export interface Props {
  photography: Photography;
  url: string | URL;
}

const { photography, url } = Astro.props;
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
  <article>
    <header class={photography.images[0] ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-5xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(photography.publishDate)} class="inline-block"
            >{getFormattedDate(photography.publishDate)}</time
          >
        </p>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-5xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {photography.title}
      </h1>
      <p
        class="max-w-5xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-md md:text-xl text-muted dark:text-slate-400 text-justify"
      >
        {photography.excerpt}
      </p>
      <div
        class="columns-1 md:columns-2 lg:columns-3 gap-3 max-w-5xl px-4 sm:px-6 mx-auto"
      >
        {
          photography.images.map((image, index) => (
            <Image
              img-can-preview
              src={image}
              alt={`${photography.title}-${index}`}
              widths={[360, 540, 1200]}
              width={1200}
              sizes={`(max-width:540px) 360px, (max-width: 1200px) 540px, 1200px`}
              class="rounded-lg sm:rounded-md mb-3"
            />
          ))
        }
      </div>
    </header>
  </article>
  <div class="mx-auto px-6 sm:px-6 max-w-5xl mt-8 flex justify-end flex-col sm:flex-row">
    <SocialShare
      url={url}
      text={photography.title}
      class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600"
    />
  </div>
</section>
